body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000; /* Ensure background is black */
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid #fff;
}

.info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info div {
    margin-bottom: 10px;
}

.info label {
    margin-right: 10px;
}

.info input {
    width: 150px;
    padding: 5px;
    background: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 4px;
    text-align: right;
}

.info .formulas {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}

input[type="text"]::-webkit-inner-spin-button, 
input[type="text"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
