body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #fff; /* Canvas border color */
    background-color: #000; /* Canvas background color */
}

.info {
    margin-top: 20px;
}

.info p {
    margin: 5px;
    font-size: 18px;
    color: #fff; /* Text color */
}

input[type="text"] {
    background-color: #222; /* Input background color */
    color: #fff; /* Input text color */
    border: 1px solid #444; /* Input border color */
    padding: 5px;
    width: 100px; /* Adjust width as needed */
    text-align: center;
}

