body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Set background color to black */
    color: #fff; /* Set text color to white */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 1px solid #fff; /* Change canvas border color to white */
    background-color: #000; /* Set canvas background to black */
}

.info {
    margin-top: 20px;
}

.info p {
    margin: 5px;
    font-size: 18px;
    color: #fff; /* Set text color to white */
}
